* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

}
main {
     min-height: 100vh;
}
.progress {
    background: conic-gradient(hsl(229, 57%, 11%), hsl(229, 7%, 55%));

    margin-bottom: 15px;
    height: 20px;
}

.progress-bar {
    background: conic-gradient(hsl(335, 100%, 65%), hsl(6, 100%, 80%));
    height: 18px;
}

.round {
    border-radius: 50%;

    border: 4px solid white;
    width: 1px;
    z-index: 5;
}


body {
   font-family: 'Raleway', sans-serif;

    background-color: hsl(229, 57%, 11%);
    background-image: url("images/bg-desktop.png");
    background-repeat: no-repeat;

    background-position: bottom right;
}

#control {
    width: 400px;
    background-color: hsl(228, 56%, 26%);
    margin-left: 30em;
}

#logo {
    height: 3em;
}


.card-body div {
    
    height: 4em;
    width: 4em;

    background-color: hsl(229, 57%, 11%);
}

#storage {
    color: white;
    width: 600px;
    background-color: hsl(228, 56%, 26%);
}

.postion {
    position: relative;
}

.value {
    position: absolute;
    right: 260px;
    font-weight: bold;
    font-size: 3em;
    background-color: white;
    color:  hsl(228, 56%, 26%);
    width: 190px;
    text-align: center;
    z-index: 8;
}

.small-letters {
    font-size: .3em;
    color: gray;
}